body{
    background-image: url("purple.jpg");
    background-size: cover;
}
p
{
    font-size: 3ex;
    color: darkgoldenrod;
}

#demo{
    font-size: 4.5ex;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}
    


label
{
    font-size: 2.8ex;
    color: aqua;
}
h1{
    color: brown;
}